.matrix-number {
  position: absolute;
  font-size: 1.5em;
  min-width: 14px;
  text-align: center;
}

.matrix-number.bold {
  font-weight: 700
}

.matrix-number.position-a1 {
  top: 40.4%;
  left: 2.8%
}

.matrix-number.position-a2 {
  top: 37.3%;
  left: 4.1%
}

.matrix-number.position-a3 {
  top: 34%;
  left: 5.2%
}

.matrix-number.position-a4 {
  top: 30.8%;
  left: 6.4%
}

.matrix-number.position-a5 {
  top: 27.6%;
  left: 7.8%
}

.matrix-number.position-a6 {
  top: 24.4%;
  left: 9.3%
}

.matrix-number.position-a7 {
  top: 20.7%;
  left: 10.7%
}

.matrix-number.position-b1 {
  top: 10.8%;
  left: 22.1%
}

.matrix-number.position-b2 {
  top: 9.4%;
  left: 25.5%
}

.matrix-number.position-b3 {
  top: 8%;
  left: 28.8%
}

.matrix-number.position-b4 {
  top: 6.4%;
  left: 32%
}

.matrix-number.position-b5 {
  top: 5.3%;
  left: 35.1%
}

.matrix-number.position-b6 {
  top: 4%;
  left: 38.4%
}

.matrix-number.position-b7 {
  top: 3%;
  left: 42%
}

.matrix-number.position-c1 {
  top: 3.3%;
  right: 40.2%
}

.matrix-number.position-c2 {
  top: 4.8%;
  right: 36.9%
}

.matrix-number.position-c3 {
  top: 5.8%;
  right: 34.1%
}

.matrix-number.position-c4 {
  top: 7.4%;
  right: 30.5%
}

.matrix-number.position-c5 {
  top: 8.8%;
  right: 27.2%
}

.matrix-number.position-c6 {
  top: 9.9%;
  right: 24.3%
}

.matrix-number.position-c7 {
  top: 11.4%;
  right: 21%
}

.matrix-number.position-d1 {
  top: 21.9%;
  right: 10.5%
}

.matrix-number.position-d2 {
  top: 25.2%;
  right: 9.2%
}

.matrix-number.position-d3 {
  top: 28.3%;
  right: 7.8%
}

.matrix-number.position-d4 {
  top: 31.2%;
  right: 6.5%
}

.matrix-number.position-d5 {
  top: 34.3%;
  right: 5.4%
}

.matrix-number.position-d6 {
  top: 37.5%;
  right: 4%
}

.matrix-number.position-d7 {
  top: 41.2%;
  right: 2.3%
}

.matrix-number.position-e1 {
  bottom: 40.2%;
  right: 2.8%
}

.matrix-number.position-e2 {
  bottom: 37.3%;
  right: 4%
}

.matrix-number.position-e3 {
  bottom: 34%;
  right: 5.2%
}

.matrix-number.position-e4 {
  bottom: 30.8%;
  right: 6.5%
}

.matrix-number.position-e5 {
  bottom: 27.7%;
  right: 7.7%
}

.matrix-number.position-e6 {
  bottom: 24.2%;
  right: 9.2%
}

.matrix-number.position-e7 {
  bottom: 20.8%;
  right: 10.5%
}

.matrix-number.position-f1 {
  bottom: 11.1%;
  right: 21%
}

.matrix-number.position-f2 {
  bottom: 9.7%;
  right: 24.3%
}

.matrix-number.position-f3 {
  bottom: 8.4%;
  right: 27.4%
}

.matrix-number.position-f4 {
  bottom: 6.5%;
  right: 31.3%
}

.matrix-number.position-f5 {
  bottom: 5.1%;
  right: 35%
}

.matrix-number.position-f6 {
  bottom: 3.7%;
  right: 38.7%
}

.matrix-number.position-f7 {
  bottom: 2.3%;
  right: 42.8%
}

.matrix-number.position-g1 {
  bottom: 2.5%;
  left: 41.7%
}

.matrix-number.position-g2 {
  bottom: 3.7%;
  left: 38.6%
}

.matrix-number.position-g3 {
  bottom: 5%;
  left: 35.3%
}

.matrix-number.position-g4 {
  bottom: 6.5%;
  left: 31.3%
}

.matrix-number.position-g5 {
  bottom: 7.8%;
  left: 28.3%
}

.matrix-number.position-g6 {
  bottom: 9.1%;
  left: 25.3%
}

.matrix-number.position-g7 {
  bottom: 10.5%;
  left: 22.1%
}

.matrix-number.position-h1 {
  bottom: 21.8%;
  left: 10.4%
}

.matrix-number.position-h2 {
  bottom: 24.9%;
  left: 9.4%
}

.matrix-number.position-h3 {
  bottom: 28%;
  left: 7.9%
}

.matrix-number.position-h4 {
  bottom: 31.4%;
  left: 6.3%
}

.matrix-number.position-h5 {
  bottom: 34.3%;
  left: 5.3%
}

.matrix-number.position-h6 {
  bottom: 37.6%;
  left: 4.1%
}

.matrix-number.position-h7 {
  bottom: 41.2%;
  left: 2.3%
}