:root {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --male-color: #3c95ed;
  --female-color: #ed953c;
}

html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  overflow-y: auto;
}

.male-text {
  color: var(--male-color) !important;
}

.female-text {
  color: var(--female-color) !important;
}

.male-bg {
  background-color: var(--male-color) !important;
  border-color: var(--male-color) !important;
}

.female-bg {
  background-color: var(--female-color) !important;
  border-color: var(--female-color) !important;
}

.compatibility-bg {
  background: linear-gradient(45deg, var(--male-color), var(--female-color)) !important;
}